shardingsphere-features/shardingsphere-shadow/shardingsphere-shadow-spring/shardingsphere-shadow-spring-namespace/src/main/resources/META-INF/namespace/shadow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xsd:schema xmlns="http://shardingsphere.apache.org/schema/shardingsphere/shadow"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://shardingsphere.apache.org/schema/shardingsphere/shadow"
            elementFormDefault="qualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>

    <xsd:element name="rule">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="data-source" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="table" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="enable" type="xsd:boolean"/>
            <!-- fixme remove when the api refactoring is complete start -->
            <xsd:attribute name="column" type="xsd:string" use="required"/>
            <xsd:attribute name="sourceDataSourceNames" type="list" use="required"/>
            <xsd:attribute name="shadowDataSourceNames" type="list" use="required"/>
            <!-- fixme remove when the api refactoring is complete end -->
        </xsd:complexType>
    </xsd:element>

    <!-- fixme remove when the api refactoring is complete start -->
    <xsd:simpleType name="list">
        <xsd:list itemType="xsd:string"/>
    </xsd:simpleType>
    <!-- fixme remove when the api refactoring is complete end -->

    <xsd:element name="data-source">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="source-data-source-name" type="xsd:string" use="required"/>
            <xsd:attribute name="shadow-data-source-name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="table">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="table-algorithm" maxOccurs="unbounded" />
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="table-algorithm">
        <xsd:complexType>
            <xsd:attribute name="shadow-algorithm-ref" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="shadow-algorithm">
        <xsd:complexType>
            <xsd:all>
                <xsd:element ref="beans:props" minOccurs="0" />
            </xsd:all>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="type" type="algorithmType" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="algorithmType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="COLUMN_REGEX_MATCH" />
            <xsd:enumeration value="SIMPLE_NOTE" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
