shardingsphere-features/shardingsphere-shadow/shardingsphere-shadow-spring/shardingsphere-shadow-spring-namespace/src/main/resources/META-INF/namespace/shadow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xsd:schema xmlns="http://shardingsphere.apache.org/schema/shardingsphere/shadow"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://shardingsphere.apache.org/schema/shardingsphere/shadow"
            elementFormDefault="qualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>
    
    <xsd:element name="rule">
        <xsd:complexType>
            <xsd:all>
                <xsd:element ref="mappings" />
            </xsd:all>
            <xsd:attribute name="id" type="xsd:string" use="required" />
            <xsd:attribute name="column" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
    
     <xsd:element name="mappings">
       <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="mapping" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
     <xsd:element name="mapping">
        <xsd:complexType>
            <xsd:attribute name="product-data-source-name" type="xsd:string" use="required" />
            <xsd:attribute name="shadow-data-source-name" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
