sharding-jdbc-config-parent/sharding-jdbc-config-spring/src/main/resources/META-INF/namespace/rdb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.dangdang.com/schema/ddframe/rdb"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.dangdang.com/schema/ddframe/rdb"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>
    <xsd:element name="data-source">
        <xsd:complexType>
            <xsd:all>
                <xsd:element ref="sharding-rule" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="props" minOccurs="0" maxOccurs="1"/>
            </xsd:all>
            <xsd:attribute name="id" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="sharding-rule">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="table-rules" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="binding-table-rules" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="default-database-strategy" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="default-table-strategy" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="data-sources" type="xsd:string" use="required" />
            <xsd:attribute name="default-data-source" type="xsd:string" use="optional" />
            <xsd:attribute name="key-generator-class" type="xsd:string" use="optional" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="table-rules">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="table-rule" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="table-rule">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="generate-key-column" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="logic-table" type="xsd:string" use="required" />
            <xsd:attribute name="dynamic" type="xsd:string" use="optional" />
            <xsd:attribute name="actual-tables" type="xsd:string" use="optional" />
            <xsd:attribute name="data-source-names" type="xsd:string" use="optional" />
            <xsd:attribute name="database-strategy" type="xsd:string" use="optional" />
            <xsd:attribute name="table-strategy" type="xsd:string" use="optional" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="generate-key-column">
        <xsd:complexType>
            <xsd:attribute name="column-name" type="xsd:string" use="required"/>
            <xsd:attribute name="column-key-generator-class" type="xsd:string" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="binding-table-rules">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="binding-table-rule" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="binding-table-rule">
        <xsd:complexType>
            <xsd:attribute name="logic-tables" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="default-database-strategy">
        <xsd:complexType>
            <xsd:attribute name="sharding-columns" type="xsd:string" use="required" />
            <xsd:attribute name="algorithm-expression" type="xsd:string" use="optional" />
            <xsd:attribute name="algorithm-class" type="xsd:string" use="optional" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="default-table-strategy">
        <xsd:complexType>
            <xsd:attribute name="sharding-columns" type="xsd:string" use="required" />
            <xsd:attribute name="algorithm-expression" type="xsd:string" use="optional" />
            <xsd:attribute name="algorithm-class" type="xsd:string" use="optional" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="strategy">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="required" />
            <xsd:attribute name="sharding-columns" type="xsd:string" use="required" />
            <xsd:attribute name="algorithm-expression" type="xsd:string" use="optional" />
            <xsd:attribute name="algorithm-class" type="xsd:string" use="optional" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="props">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:propsType"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="master-slave-data-source">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="required" />
            <xsd:attribute name="master-data-source-ref" type="xsd:string" use="required" />
            <xsd:attribute name="slave-data-sources-ref" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
